.header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--header-horizontal-gap);
  top: 0;
  color: white;
  z-index: 1;

  height: var(--56px);

  padding-left: var(--padding-sides-default);
  padding-right: var(--padding-sides-default);

  transform: translateY(-100%;);
  transition: 1s transform;
  /* & > * {
    flex-shrink: 1 1 10%;
  }
  & > *:first-child {
    flex-shrink: 0;
  } */
}

.header--white {
  background-color: white;
  color: black;
}

.header__logo {
  /* rem */
  position: relative;
  height: 35px;
  width: 35px;
}

.header__menu {
  cursor: pointer;
  justify-self: flex-end;
  margin-left: 60%;

  @media (min-width: 992px) {
    position: relative;
    margin-left: auto;
    top: 0;
    height: 100%;
    width: 100%;
  }

  & > img {
    height: 1rem;

    @media (min-width: 992px) {
      display: none;
      height: 0;
      width: 0;
    }
  }
}

.header__shopping-cart {
  display: none;
  /* height: 0;
  width: 0; */
  cursor: pointer;
  transition: 0.5s transform;

  @media (min-width: 992px) {
    display: block;
    position: relative;
    width: var(--19px);
    height: var(--22px);
  }

  &:hover,
  &.activated {
    transform: scale(1.2);
  }
}
