/* ## Section*/

.section {
  background-color: var(--color-background-white);
  display: flex;
  flex-direction: column;
  padding: var(--padding-top-default) var(--padding-sides-default)
    var(--padding-bottom-default);
  gap: var(--distance-vertical-small);
  align-items: flex-start;

  /*FIXME Coloring and codestyling of the "& foo {}" sometimes broken. why? */

  & > *:first-child {
    margin-top: 0rem;
  }

  & > *:last-child {
    margin-bottom: 0rem;
  }

  @media (min-width: 992px) {
  }
}

.section--dark {
  background-color: var(--color-background-dark);
  color: var(--color-white);

  & *.button {
    padding: var(--13px) var(--50px) var(--13px) var(--50px);
    border: 3px solid var(--color-white);
  }
}
