/* ### shop */

.shop__wrapper {
  position: relative;
  overflow: hidden;
}

.shop {
  margin-top: var(--distance-vertical-small);
  margin-bottom: var(--distance-vertical-small);

  width: calc(100vw - 2 * var(--padding-sides-default));

  display: grid;
  grid-template: auto / repeat(2, 1fr);
  gap: 1rem;

  & * {
    margin: 0rem;
    padding: 0rem;
  }

  @media (min-width: 992px) {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    margin: var(--60px) 0;
    width: auto;
  }
}

.shop__navigation {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100vw - 2 * var(--padding-sides-default));
  height: 100%;
  transform: translateY(-100%);

  & .shop__navigation__previous {
    position: relative;
    left: 15px;
    transition: left 0.7s;

    &:hover {
      left: 10px;
    }
  }
  & .shop__navigation__next {
    position: relative;
    right: 15px;
    transition: right 0.7s;

    &:hover {
      right: 10px;
    }
  }

  & .shop__navigation__previous,
  & .shop__navigation__next {
    position: relative;
    color: inherit;
    line-height: 1;
    width: 20px;
    height: 20px;
    background-color: rgba(0.7, 0.7, 0.7, 0.2);
    border-radius: 10px;
    top: 35%;

    &:hover {
      background-color: rgba(0.7, 0.7, 0.7, 0.3);
    }
  }

  & .shop__navigation__shortcuts {
    position: absolute;
    bottom: 0%;
    width: 30%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    & * {
      width: 12px;
      height: 12px;
      border-radius: 10px;
      background-color: rgba(125, 125, 125, 0.5);

      &:hover {
        background-color: rgba(125, 125, 125, 0.8);
      }

      &.active {
        background-color: rgb(200, 200, 200, 0.8);
        border: 1px solid black;
      }
    }
  }

  @media (min-width: 992px) {
    display: none;
    position: fixed;
    width: 0;
    height: 0;
  }
}

.shop__header {
  @media (min-width: 992px) {
    max-width: 400px;
  }
}

.shop__product {
  min-width: calc(50% - 0.5rem);
  padding-bottom: 1rem;
  @media (min-width: 992px) {
    width: auto;
  }
}

.shop__product__image-wrapper {
  position: relative;
  background-color: var(--color-background-product);
  overflow: hidden;
  @media (min-width: 992px) {
    &:hover,
    &:focus {
      background-color: var(--color-background-product-hovered);
      & .shop__product__image {
        background-color: var(--color-background-product-hovered);
        transform: scale(1.3);
      }
      & .shop__product__quick-add {
        z-index: 1;
      }
    }
  }
  & img {
    margin: 10px 7px;
    @media (min-width: 992px) {
      margin: 19px 14px;
    }
  }
}

.shop__product__quick-add {
  right: 11px;
  bottom: 15px;
  display: none;
  position: absolute;
  z-index: -1;
  color: black;
  gap: 1rem;
  width: 100%;
  justify-content: right;
  box-sizing: border-box;
  transform: translateY(00%);

  & > * {
    padding: 10px 15px 10px 15px;
    color: black;
    background-color: white;
    border-radius: 5px;
    font-size: var(--14px);
  }
  @media (min-width: 992px) {
    display: flex;
  }
}

.shop__product__quick-add__selection {
  display: flex;
  gap: 1rem;

  & button {
    font-weight: 700;
    font-size: var(--14px);
    transition: 1s ease-out opacity;
    opacity: 1;

    &:hover,
    &:focus {
      color: var(--color-petrol);
      opacity: 1;
    }

    &:active {
      transition-duration: 0s;
      opacity: 0;
    }
  }
}

.shop__product__image {
  background-color: var(--color-background-product);
  transform: scale(1);
  transition: transform 1.2s ease;
}

.shop__product__link {
  &:hover {
    text-decoration: underline;
  }
}

.shop__product__name {
  margin-top: 0.5rem;
  text-align: left;

  @media (min-width: 992px) {
    margin-top: 1rem;
  }
}

.shop__product__price-tag {
  color: var(--color-text-price-tag);
  padding: 0;

  @media (min-width: 992px) {
    margin: 0.5rem auto;
  }
}

.shop__product__icon-wrapper {
  display: flex;
  flex-direction: row;
  gap: var(--8px);
  justify-items: start;

  @media (min-width: 992px) {
    gap: var(--13px);
  }
}

/* FIXME stroke-width of svgs */

.shop__product__icon {
  width: var(--12px);

  @media (min-width: 992px) {
    width: var(--17px);
  }
}

.shop__product__icon-french-press {
  width: var(--10px);

  @media (min-width: 992px) {
    width: var(--14px);
  }
}
