/* This CSS is for control-elements, like buttons, scrolls, lists, etc.*/

.button {
  /* Cleaning <a>-Styling */
  display: block;
  text-decoration: none;
  border: none;
  background-color: var(--color-button-default);
  color: var(--color-button-font);
  box-sizing: border-box;
  padding: var(--15px) var(--50px) var(--15px) var(--50px);
  width: fit-content;
  height: var(--46px);
  border-radius: 5px;
  /* border: 2px solid var(--color-button-default); */
  text-align: center;
  align-self: center;
  cursor: pointer;
  line-height: 1;
  font-size: var(--14px);
  font-weight: 400;

  & * {
    color: inherit;
    cursor: pointer;
  }
}

.button:hover {
  background-color: var(--color-button-hover);
}

.button:active {
  background-color: var(--color-button-active);
}

.button-select {
  display: block;
  text-decoration: none;
  background-color: var(--color-white);
  padding: 15px 50px 15px 50px;
  border: 2px solid var(--color-anthrazit);
  width: fit-content;
  height: auto;
  border-radius: 5px;
  text-align: center;
  align-self: center;
  color: var(--color-medium-grey);

  &:hover {
    color: var(--color-black);
  }

  &:active {
    background-colo: var(--color-black);
  }
}

.checkbox {
  & input {
    display: none;
  }
  & label {
    position: relative;
    display: flex;
    gap: var(--12px);
    align-items: center;
  }

  & label:before {
    display: block;
    content: " ";
    height: var(--16px);
    width: var(--16px);
    border: var(--2px) solid var(--color-anthrazit);
    border-radius: 5px;
    cursor: pointer;
  }

  & .checkbox__checked {
    display: none;
    position: absolute;
    height: var(--12px);
    width: var(--12px);
    background-color: black;
    border-radius: var(--6px);
    left: var(--4px);
    cursor: pointer;
  }

  & input:checked + label *.checkbox__checked {
    display: block;
  }
}

.jsDropDownMenu {
}

.jsDropDownMenu__Hidden-part {
  display: none;
}

.jsDropDownMenu__Wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  /* box-sizing: content-box; */
  height: var(--46px);
}

.jsDropDownMenu__Button {
  display: flex;
  flex-direction: row;
  /* height: 100%; */
  &:hover .jsDropDownMenu__Button__Label {
    color: var(--color-anthrazit);
  }

  &.open {
    &:hover .jsDropDownMenu__Button__Label {
      color: var(--color-white);
    }
  }
}

.jsDropDownMenu__Button__Label {
  padding: 14px 22px; /*recalculated that sizes starting from 15px and 25px to get the border inside of the padding*/
  border: 2px solid var(--color-anthrazit);
  border-radius: 5px 0 0 5px;
  /* box-sizing: border-box; */
  cursor: pointer;
  color: var(--color-medium-grey);
  background-color: var(--color-white);

  & p {
    line-height: 1;
  }

  &:hover {
    color: var(--color-anthrazit);
  }

  &.open {
    background-color: var(--color-anthrazit);
    color: var(--color-white);
  }
}

.jsDropDownMenu__Button__Opener {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-anthrazit);
  color: var(--color-white);

  width: var(--46px);
  height: auto;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  & span {
    /* // FIXME: Rotate around center!*/
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.1;

    height: fit-content;
    width: fit-content;

    transform-origin: center;
    transform: rotate(90deg);
    /* transform: translate(-75%, -25%) rotate(-90deg); */
    transition: 1s transform;
    color: var(--color-white);
    font-size: var(--34px);
  }

  &.open span {
    transform: rotate(-90deg);
  }
}

.jsDropDownMenu__OptionsList__Wrapper {
  position: absolute;
  top: calc(100% + 2px);
  width: 100%;
  overflow: hidden;
  transition: 1s transform;
  transform-origin: top;
  transform: scaleY(0);
  height: fit-content;
  &.open {
    transform: scaleY(1); /* FIXME: animation with height: fit-content; */
  }
}

.jsDropDownMenu__OptionsList {
  display: block;
  border: 2px solid var(--color-anthrazit);
  border-radius: 5px;
  background-color: var(--color-white);
  transform: translateY(-100%);
  transition: 1s transform;

  & > * {
    padding: 7px 25px;
    cursor: pointer;

    &:first-child {
      padding-top: 13px;
    }
    &:last-child {
      padding-bottom: 13px;
    }
    &:hover {
      background-color: #c4c4c4;
    }
  }

  &.open {
    display: block;
    transform: translateY(-100%);
    transition: 1s transform;
    transform: translateY(0%);
  }
}
