/* This CSS is for control-elements, like buttons, scrolls, lists, etc.*/

.button {
  /* Cleaning <a>-Styling */
  display: block;
  text-decoration: none;
  border: none;
  background-color: var(--color-button-default);
  color: var(--color-button-font);
  padding: 15px 50px 15px 50px;
  width: fit-content;
  height: auto;
  border-radius: 5px;
  /* border: 2px solid var(--color-button-default); */
  text-align: center;
  align-self: center;

  & * {
    color: inherit;
    cursor: pointer;
  }
}

.button:hover {
  background-color: var(--color-button-hover);
}

.button:active {
  background-color: var(--color-button-active);
}

.button-select {
  display: block;
  text-decoration: none;
  background-color: var(--color-white);
  padding: 15px 50px 15px 50px;
  border: 2px solid var(--color-anthrazit);
  width: fit-content;
  height: auto;
  border-radius: 5px;
  text-align: center;
  align-self: center;
  color: var(--color-medium-grey);

  &:hover {
    color: var(--color-black);
  }

  &:active {
    background-colo: var(--color-black);
  }
}

.jsDropDownMenu {
}

.jsDropDownMenu__Wrapper {
  display: flex;
  gap: 2px;
  flex-direction: column;
  align-items: stretch;
}

.jsDropDownMenu__Button {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  &:hover .jsDropDownMenu__Button__Label {
    color: var(--color-anthrazit);
  }

  &.open {
    &:hover .jsDropDownMenu__Button__Label {
      color: var(--color-white);
    }
  }
}

.jsDropDownMenu__Button__Label {
  padding: 12px 22px; /*recalculated that sizes starting from 15px and 25px to get the border inside of the padding*/
  border: 2px solid var(--color-anthrazit);
  border-radius: 5px 0 0 5px;
  box-sizing: border-box;
  cursor: pointer;
  color: var(--color-medium-grey);
  background-color: var(--color-white);

  &:hover {
    color: var(--color-anthrazit);
  }

  &.open {
    background-color: var(--color-anthrazit);
    color: var(--color-white);
  }
}

.jsDropDownMenu__Button__Opener {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-anthrazit);
  color: var(--color-white);

  width: 45px;
  height: auto;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  & span {
    transform: translate(75%, 25%) rotate(90deg);
    /* transform: translate(-75%, -25%) rotate(-90deg); */
    transition: 1s transform;
    color: var(--color-white);
    font-size: var(--34px);
    height: var(--18px);
    width: var(--18px);
  }

  &.open span {
    transform: translate(-75%, -25%) rotate(-90deg);
  }
}

.jsDropDownMenu__OptionsList {
  display: none;
  border: 2px solid var(--color-anthrazit);
  border-radius: 5px;
  height: 0px;
  transition: 1s height;

  & > * {
    padding: 7px 25px;

    &:first-child {
      padding-top: 13px;
    }
    &:last-child {
      padding-bottom: 13px;
    }

    &:hover {
      background-color: #c4c4c4;
    }
  }

  &.visible {
    display: block;
    height: auto;
    transition: 1s height; /* animation of scrolling out */
  }
}
