.header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 100;

    height: 55px;

    padding-left: var(--padding-sides-default);
    padding-right: var(--padding-sides-default);

}

.header__logo {
    /* rem */
    height: 35px;
}

.header__menu {

    &>img {
        height: 1rem;
    }

    &:active>*.nav-page {
        display: block;
    }
}

.header__menu:active {}

.header__menu__checkbox {
    display: none;
}