.header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
    z-index: 1;

}

.header__logo {
    height: 2.5rem;
}

.header__menu {

    &>img {
        height: 1.25rem;
    }

    &:active>*.nav-page {
        display: block;
    }
}

.header__menu:active {}