.header {
    position: relative;
    margin: 2.5% auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    color: white;
    z-index: 1;
}

.header__logo {
    height: 2.5rem;
}

.header__menu {
    height: 1.25rem;
}