.hero {
  position: relative;
  top: 0;
  background: url("/images/FEND-Coffee-latte-art-3-376px.png") no-repeat center/cover;
  height: 75vh;
  color: white;

  /*Desktop*/
  @media (min-width: 992px) {
    background: url("/images/FEND-Coffee-latte-art-3-1440px.png") no-repeat top/cover;
    height: 65vh;
  }

}

.hero-title {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: white;

  & * {
    z-index: inherit;
  }
}


.hero-title-sub {}

.hero-button {
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translate(-50%, 50%);

  & button {
    border: none;
  }
}

.hero-img {
  filter: grayscale(50%);
  z-index: 5;


}