/* ### Section--information*/

/* TODO Find right sizes media (min-width)
/* TODO  */

.section--information {}

.section--information__text-block {
    display: flex;
    flex-direction: column;
    gap: var(--distance-vertical-small);


}

.section--information__text-block--small {
    @media (min-width: 992px) {
        margin: var(--distance-vertical-medium-large) var(--padding-sides-text-area) auto;
        margin-right: max(15px, 14.5%);

    }
}

.section--information__image {
    width: 74%;
    margin-top: var(--distance-vertical-small);
    margin-bottom: var(--distance-vertical-small);

    &:nth-of-type(odd) {
        align-self: end;


    }

    &:nth-of-type(even) {
        align-self: flex-start;


    }

    @media (min-width: 992px) {
        width: 100%;
        margin: 0;
    }

}

.section--information__image--upright {
    @media (min-width: 992px) {
        /* margins, etc. */
    }
}

.section--information__media {
    align-self: stretch;

    @media (min-width: 992px) {
        grid-column: span 2;
    }
}