/* ### section--information-teaser */

.section--information-teaser {
    position: relative;
    margin: 0;
    padding: 0;
}

.section--information-teaser__background-image {
    width: 100vw;
    height: 50vh;
    min-height: 300px;

    /* Problem: size of the bg-image. And it needs to be cropped.
    /* FIXME: better solve this with css-background-image */

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/mobile/FEND-Coffee-bags-2.png) no-repeat center/cover;

    @media (min-width: 992px) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/desktop/Coffee-bags-background.png) no-repeat center/cover;

    }

}

.section--information-teaser__text-block {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: var(--distance-vertical-small);

    /* margin: auto 15%; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;

    & * {
        text-align: center;
        width: 17em;
    }

    & a {
        display: block;
        text-decoration: none;
        color: inherit;

    }

    & h3 {
        width: 0;
        overflow: hidden;
    }
}