/* # Universal Wrapper*/

.wrapper--vertical {
    display: flex;
    flex-direction: column;
}

.wrapper--horizontal {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-items: center;
}

/* # Block Elements */

/* ## Section*/

.section {
    display: flex;
    flex-direction: column;
    padding: 0 var(--default-margin-sides) 4rem;
}

.section--dark {
    background-color: var(--color-background-dark);
    color: var(--color-white);
}

/* ### Section--information*/

.section--information {
    /* FIXME: Empty class - does it make sense? For structuring yes. For coding, no!*/
}

.section--information__image {
    width: 75%;
    margin-top: 2rem;
}

.section--information__image--align-right {
    align-self: end;
}

.section--information__image--align-left {
    align-self: start;
}

/* ### Section--shop-preview */

.section--shop-preview {
    margin: 10% auto;
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 1rem;
}

.section--shop-preview__heading {
    grid-column: span 2;
}

.section--shop-preview__product__image {
    background-color: var(--color-background-product);
}

.section--shop-preview__product__name {
    margin: 0.5rem auto 0;
    text-align: left;
}

.section--shop-preview__product__price-tag {
    color: var(--color-text-price-tag);
    padding: 0;

}

.section--shop-preview__product__icon {
    width: 0.8rem;
    fill: white;
}

.section--shop-preview__button--standalone {
    margin-top: 3rem;
    margin-bottom: -3rem;
    /* FIXME: Positioning of the button on the site */
    display: block;
    grid-column: span 2;
    justify-self: center;
}

.information-block {
    margin: auto 15%;
    top: 50%;
    transform: translate(0 -50%);

    & * {
        text-align: center;
    }

    & a {
        margin-top: 1rem;
        display: block;
        text-decoration: none;
        color: inherit;

    }
}