/* ### Section--shop-preview */

.section--shop-preview {
    margin-top: var(--distance-vertical-small);
    margin-bottom: var(--distance-vertical-small);

    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 1rem;

    & * {
        margin: 0rem;
        padding: 0rem;
    }

    @media (min-width: 992px) {
        grid-template-columns: repeat(4, 1fr);
        margin: var(--60px) 0;
    }
}

.section--shop-preview__header {
    @media (min-width: 992px) {
        max-width: 400px;
    }
}

.section--shop-preview__product__image {
    background-color: var(--color-background-product);
}

.section--shop-preview__product__name {
    margin-top: 0.5rem;
    text-align: left;

    @media(min-width:992px) {
        margin-top: 1rem;
    }
}

.section--shop-preview__product__price-tag {
    color: var(--color-text-price-tag);
    padding: 0;

    @media(min-width: 992px) {
        margin: 0.5rem auto;
    }

}

.section--shop-preview__product__icon-wrapper {
    display: flex;
    flex-direction: row;
    gap: var(--8px);
    justify-items: start;

    @media(min-width:992px) {
        gap: var(--13px);
    }
}

/* FIXME stroke-width of svgs */

.section--shop-preview__product__icon {
    width: var(--12px);
    fill: white;

    @media(min-width: 992px) {
        width: var(--17px);
    }
}

.section--shop-preview__product__icon--french-press {
    width: var(--10px);

    @media(min-width: 992px) {
        width: var(--14px);
    }
}