<footer class="footer">
    <div class="footer__headline">
        <img src="/images/Logo-white.svg" alt="a coffee-bean as our logo">
        <h4>Rustica</h4>
        <h5>Café und Rösterei</h5>
    </div>
    <p class="footer__info">Fraunhoferstr. 13, Kiel</p>
    <p class="footer__info">Mo &ndash; Fr 8&ndash;18 Uhr<br>Sa 11&ndash;18 Uhr</p>
    <ul class="footer__links">
        <li><a href="/sub-page/imprint.html">Impressum</a></li>
        <li><a href="/sub-page/privacy-policy.html">Datenschutz</a></li>
    </ul>
    <ul class="footer__links">
        <li><a href="/sub-page/cafe.html">Café</a></li>
        <li><a href="/sub-page/shop.html">Shop</a></li>
        <li><a href="/sub-page/origin.html">Herkunft</a></li>
    </ul>
</footer>