<header>
    <div class="header">
        <a href="index.html"><img class="header__logo" src="/images/Logo-white.svg" /></a>
        <button class="header__menu"><img src="/images/Burger-Menu-white.svg">{{>nav-page}}</button>
    </div>
</header>