<header>
    <div class="header">
        <a href="index.html"><img class="header__logo" src="/images/icons/Logo-white.svg" /></a>

        <input type="checkbox" class="nav-page__switch" id="nav-bar__switch">
        <label for="nav-bar__switch" class="header__menu"><img
                src="/images/icons/Burger-Menu-white.svg">{{>nav-page}}</label>
    </div>
</header>


{{!-- appearing menu: check-box-hack
using a hidden check box, for which the icon is the label.
by clicking the label, the check box is activated and makes the menu visible.--}}