<header>
    <div class="header">
        <a href="index.html"><img class="header__logo" src="/images/Logo-white.svg" /></a>
        <img class="header__menu" src="/images/Burger-Menu-white.svg">
    </div>
</header>