<div class="section section--map">
    <h2>Komm vorbei</h2>
    <!-- TODO interactive google-map -->
    <!-- <img src="/images/Map.jpg" alt="a map showing the location where our shop is"> -->
    <iframe class="map" title="Map of our Location at Fraunhoferstr. 13, Kiel" src="https://www.openstreetmap.org/export/embed.html?bbox=10.118579864501955%2C54.33990976163104%2C10.125875473022463%2C54.343693649263116&amp;marker=54.34181113052293%2C10.122216939926147
          "></iframe>
</div>