<nav class="nav-page">
    <div class="nav-page__header"> X </div>
    <div class="nav-page__menu">
        <a href="/subpage/cafe.html">
            <h3>das Café</h3>
        </a>
        <a href="/subpage/origin.html">
            <h3>Herkunft</h3>
        </a>
        <a href="/subpage/shop.html">
            <h3>Shop</h3>
        </a>

    </div>
</nav>