<nav class="nav-page">
    <div class="nav-page__header">
        {{!-- FIXME: Insert Image --}}
        <h3>X</h3>
    </div>
    <div class="nav-page__menu">
        <a href="/sub-page/cafe.html">
            <h3>das Café</h3>
        </a>
        <a href="/sub-page/origin.html">
            <h3>Herkunft</h3>
        </a>
        <a href="/sub-page/shop.html">
            <h3>Shop</h3>
        </a>

    </div>
</nav>