<nav class="navigation">
    <div class="navigation__header">
        {{!-- FIXME: Insert Image --}}
        <h3>X</h3>
    </div>
    <div class="navigation__menu">
        <a href="/sub-page/cafe.html">
            <h3>das Café</h3>
        </a>
        <a href="/sub-page/origin.html">
            <h3>Herkunft</h3>
        </a>
        <a href="/sub-page/shop.html">
            <h3>Shop</h3>
        </a>
        <a href="/index.html">
            <h3>Item 1</h3>
        </a>
        {{!-- <a href="/index.html">
            <h3>Item 2</h3>
        </a>
        <a href="/index.html">
            <h3>Item 3</h3>
        </a>
        <a href="/index.html">
            <h3>Item 4</h3>
        </a>
        <a href="/index.html">
            <h3>Item 5</h3>
        </a>
        <a href="/index.html">
            <h3>Item 6</h3>
        </a>
        <a href="/index.html">
            <h3>Item 7</h3>
        </a>
        <a href="/index.html">
            <h3>Item 8</h3>
        </a>
        <a href="/index.html">
            <h3>Item 9</h3>
        </a>
        <a href="/index.html">
            <h3>Item 10</h3>
        </a>
        <a href="/index.html">
            <h3>Item 11</h3>
        </a>
        <a href="/index.html">
            <h3>Item 12</h3>
        </a>
        <a href="/index.html">
            <h3>Item 13</h3>
        </a>
        <a href="/index.html">
            <h3>Item 14</h3>
        </a>
        <a href="/index.html">
            <h3>Item 15</h3>
        </a>
        <a href="/index.html">
            <h3>Item 16</h3>
        </a>
        <a href="/index.html">
            <h3>Item 17</h3>
        </a> --}}

    </div>
</nav>