<div class="product-preview">
    <img class="product-preview__image" src="/images/FEND_Coffee_Costa-Rica 1-512px.jpg" alt="our flagship coffee">
    <h5 class="product-preview__name">Costa Rica</h5>
    <p class="product-preview__price-tag">6,90€ &ndash; 26,90€</p>
    <div>
        <img class="product-preview__icon" src="/images/Icon French Press.svg" alt="Icon French Press">
        <img class="product-preview__icon" src="/images/Icon Kaffee Bohnen.svg" alt="Icon Coffee Bean">
        <img class="product-preview__icon" src="/images/Icon Kaffee Schaufel.svg" alt="Icon Coffee Shovel">
    </div>
</div>