<div class="section section--dark">
        <h2 class="section--shop-preview__header">Entdecke unsere Kaffee Sorten</h2>

        <div class="section--shop-preview__wrapper">
          <div class="section--shop-preview">
            {{>product-preview}}
            {{>product-preview}}
            {{>product-preview}}
            {{>product-preview}}
          </div>
          <div class="section--shop-preview__navigation">
            <button class="section--shop-preview__navigation__previous">&lt;</button>
            <button class="section--shop-preview__navigation__next">&gt;</button>
          </div>
        </div>

        <a class="button" href="/sub-page/shop.html"><button>alle
            Produkte</button></a>

</div>