* {
  margin: 0;
  padding: 0;
}


/*FIXME: Where is the proper place to define typography*/
body {
  background: grey;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
}

main {
  width: 100%;
  max-width: 1440px;

  margin: 0 auto;
}

header {
  position: absolute;
  width: 100%;
}

footer {
  background: black;
}

/*TODO: Define Text-element-styling 
        -> Use variables!*/

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 64px;
  font-weight: 900;
  line-height: 75px;
}

h2 {
  font-size: var(--h2-font-size)
}

/*FIXME: proper style to define buttons here? */
button {}

button:hover {
  background-color: var(--color-button-hovered);
}