* {
  margin: 0;
  padding: 0;
}

body {
  background: grey;
}

main {
  width: 100%;
  max-width: 1440px;

  margin: 0 auto;
}

header {
  position: absolute;
  width: 100%;
}

footer {
  background: black;
}

/*TODO: Define Text-element-styling */

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 4rem;
}