* {
  margin: 0;
  padding: 0;
}

body {
  background: grey;

  @media (min-width: 768px) {
    color: red;
  }
}

header {
  position: absolute;
  z-index: 1;
}

main {
  margin: 0 auto;
  max-width: 1440px;

  & div {
    color: yellow;

    @media (min-width: 768px) {
      color: var(--div-color);
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: var(--h2-font-size);
}