/* !Important: The Order of Imports!
/* TODO bring imports into right order!
/* */

@import "variables.css";
@import "base.css";
/*@import "keyframes.css";*/

@import "sections/header.css";
@import "sections/footer.css";
@import "sections/nav-page.css";

@import "sections/hero.css";
@import "sections/section.css";
@import "sections/information.css";
@import "sections/information-teaser.css";
@import "sections/shop-preview.css";
@import "sections/about-product.css";

@import "sub-pages/index.css";
@import "sub-pages/cafe.css";
@import "sub-pages/origin.css";
@import "sub-pages/product.css";

@import "components/map.css";
@import "components/control-elements.css";
@import "components/wrapper.css";

@import "shop/shop.css";
@import "shop/shopping-cart.css";

.mobile-hidden {
  display: none;
  @media (min-width: 992px) {
    display: block;
  }
}

.hidden {
  display: none;
}
