:root {
  /* Colors */
  --color-white: #FFFFFF;
  --color-anthrazit: #1A1A1A;
  --color-kraftpapier: #D7BE9D;
  --color-petrol: #006D7E;
  --color-rosa: #EDD1C9;
  --color-orange: #D77C12;
  --color-medium-grey: #737373;
  --color-light-grey: #E9E9E9;

  --color-button-default: #1A1A1A;
  --color-button-font: var(--color-white);
  --color-button-hover: #3A3734;

  --color-background-white: var(--color-white);
  --color-background-dark: var(--color-anthrazit);

  --color-background-product: var(--color-light-grey);

  --color-text-price-tag: var(--color-medium-grey);

  /* Text Styles */

  /* Layouting */
  --default-margin-sides: 24px;

  --header-margin-bottom: 2rem;

  --paragraph-margin-bottom: 2rem;
}