:root {
  /* # Colors */
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-anthrazit: #1A1A1A;
  --color-kraftpapier: #D7BE9D;
  --color-petrol: #006D7E;
  --color-rosa: #EDD1C9;
  --color-orange: #D77C12;
  --color-medium-grey: #737373;
  --color-light-grey: #E9E9E9;

  --color-button-default: #1A1A1A;
  --color-button-font: var(--color-white);
  --color-button-hover: #3A3734;
  --color-button-active: var(--color-kraftpapier);

  --color-background-white: var(--color-white);
  --color-background-dark: var(--color-anthrazit);

  --color-background-product: var(--color-light-grey);

  --color-text-price-tag: var(--color-medium-grey);

  /* # Styling Text */

  /* Definig font-sizes in rem, so that they are responsive to user-configuration. 
  Assuming default browser-font-size: 16px.*/

  --10px: 0.625;
  --14px: 0.875rem;
  --16px: 1rem;
  --18px: 1.125rem;
  --24px: 1.5rem;
  --32px: 2rem;
  --36px: 2.25rem;
  --40px: 2.5rem;
  --60px: 3.75rem;
  --64px: 4rem;
  --70px: 4.375rem;
  --80px: 5rem;
  --90px: 5.625rem;
  --100px: 6.25rem;
  --125px: 7.8125rem;


  /* # Layout */

  /* ## Paddings, Margins, Gaps */

  /* ### Vertical - rem */

  /* vertical gaps measured in rem, to get the distances at high predefined font-sizes as well.
  /* x.xxrem => FIGMA px
  /* 1.25rem => 20px
  /* 2.5rem  => 40px
  /* 3.75rem => 60px */

  --distance-vertical-xs: 0.625rem;
  /* 10px */

  --distance-vertical-small: 1.25rem;
  /* 20px*/

  --distance-vertical-medium: 2.5rem;
  /* 40px */

  --distance-vertical-medium-large: 3.125rem;
  /* 50px */

  --distance-vertical-big: 3.75rem;
  /* 60px */



  --padding-top-default: var(--distance-vertical-big);
  --padding-bottom-default: var(--distance-vertical-big);

  --padding-top-footer: var(--distance-vertical-medium);
  --padding-bottom-footer: var(--distance-vertical-medium);



  /* ### Horizontal - px or %. Depends, if intended Design should be responsive or fixed. */

  --padding-sides-menu: 60px;
  --padding-sides-default: 24px;
  --gap-horizontal-default: 16px;

  /* Desktop-version: */
  @media (min-width: 992px) {
    --padding-sides-default: 100px;
    --padding-sides-text-area: 125px;

    --padding-top-default: 7.8125rem;
    --padding-bottom-default: 7.8125rem;

    --gap-vertical-default: 8.125rem;
  }

}